@import '/css/buttons.css';
.player{
    margin-block-start: 100px;
    position: relative;
}

.player video{
inline-size: 100%;
vertical-align: middle;
object-fit: cover;
border-radius: 10px;
}

.wrapper{
    max-inline-size: 80%;
    margin: auto;
    margin-top: 400px;
    margin-bottom: 400px;
    border-radius: 40px;
}

.player-actions{
    position: absolute;
    inset:0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    
}

.player-progress{
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
}
.player-progress input{
    flex: 1;
    
}

.player-overlay{
    position: absolute;
    inset:0;
    opacity: 0;
    transition: .3s opacity;
}
.player:hover .player-overlay{
    opacity: 1;
}






.navbar button.a{
    border: 1px solid #18A0FB;
	border-radius: 4px;
	background-color: #ffffff;
    color: #18a0fb;
}
.navbar button.a:hover{
    background-color: white;
	color: #18a0fb;
    transform: scale(1.1);
}
.navbar button.b{
    background-color: #18A0FB;
    color: white;
}
.navbar button.b:hover{
    transform: scale(1.1);
}

#imagenLogo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#flechita{
    text-align: center;

}












