.navbar button.a{
    border: 1px solid #18A0FB;
	border-radius: 4px;
	background-color: #ffffff;
    color: #18a0fb;
}
.navbar button.a:hover{
    background-color: white;
	color: #18a0fb;
    transform: scale(1.1);
}
.navbar button.b{
    background-color: #18A0FB;
    color: white;
}
.navbar button.b:hover{
    transform: scale(1.1);
}

#imagenLogo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#flechita{
    text-align: center;

}



/* ------------------------- */
/* POPUP */
/* ------------------------- */

section{
	
}
section .popup-outer{   
    width: 60%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
	top: 15%;
	left:20%;
	opacity: 0;
	border-radius: 12px;
	border: 2px solid black;
    pointer-events: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 0.2s 0s ease-in-out,  
                transform 0.2s 0s ease-in-out;
}

section.active .popup-outer{
    opacity: 1;
    pointer-events: auto;
    
}
section .popup-box{
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 30px;
	height: 700px;
    width: 100%;
	
}
.popup-box .close{
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: #000000;
    transition: all 0.2s ease;
    cursor: pointer;
}
.popup-box .close:hover{
    color: #333;
}





